In [7]:
import pandas as pd

excel_file = '../Downloads/Filtered Data.xlsx'
movies = pd.read_excel(excel_file)
movies.head()

,cvr_base_data_table.ts,cvr_base_data_table.impression_system_date,cvr_base_data_table.hour,cvr_base_data_table.conversion_status,cvr_base_data_table.cc_id_null_ind,cvr_base_data_table.ad_id,cvr_base_data_table.click_id,cvr_base_data_table.cc_id,cvr_base_data_table.hour_of_day,cvr_base_data_table.raw_publisher_id,...,cvr_base_data_table.click_conf_gmt_offset,cvr_base_data_table.click_state,cvr_base_data_table.click_city,cvr_base_data_table.ad_bid,cvr_base_data_table.ad_cpa_goal,cvr_base_data_table.ad_market_place_id,cvr_base_data_table.click_click_status,cvr_base_data_table.kmean_category_name,cvr_base_data_table.partner_id,cvr_base_data_table.version
0,20190106,2019-01-06,1,1,0,138154,646739319951006038,546739320882001606,20,8CUDMGV55,...,-500,ga,atlanta,0.150000,NaN,1027,1,missing,8PRHGG6T9,1
1,20190106,2019-01-06,1,1,0,138154,646739319951006038,546739320882001606,20,8CUDMGV55,...,-500,ga,atlanta,0.150000,NaN,1027,1,missing,8PRHGG6T9,1
2,20190106,2019-01-06,2,0,0,138154,646740715393002311,346740715723006848,20,8CUDMGV55,...,-600,al,birmingham,0.150000,NaN,1027,1,missing,8PRHGG6T9,1
3,20190106,2019-01-06,4,0,0,138154,246748175931002645,446748176329007771,23,8CUDMGV55,...,-500,in,ft wayne,0.150000,NaN,1027,1,missing,8PRHGG6T9,1
4,20190106,2019-01-06,6,0,0,128699,246754980029002839,646754981260002933,22,8CUX8874N,...,-800,ca,mountain view,3.394224,NaN,1027,1,missing,8PRHGG6T9,1

In [3]:
movies.describe()

,cvr_base_data_table.ts,cvr_base_data_table.hour,cvr_base_data_table.conversion_status,cvr_base_data_table.cc_id_null_ind,cvr_base_data_table.ad_id,cvr_base_data_table.click_id,cvr_base_data_table.cc_id,cvr_base_data_table.hour_of_day,cvr_base_data_table.ad_adgroup_id,cvr_base_data_table.ad_advertiser_id,cvr_base_data_table.ad_campaign_id,cvr_base_data_table.ad_partner_id,cvr_base_data_table.impression_asn_code,cvr_base_data_table.raw_sync_partner_id,cvr_base_data_table.click_conf_gmt_offset,cvr_base_data_table.ad_bid,cvr_base_data_table.ad_cpa_goal,cvr_base_data_table.ad_market_place_id,cvr_base_data_table.click_click_status,cvr_base_data_table.version
count,1.243350e+05,124335.000000,124335.000000,124335.0,124335.000000,1.243350e+05,1.243350e+05,124335.000000,124335.000000,124335.000000,124335.000000,124335.0,124335.000000,124335.000000,124335.000000,124335.000000,63101.000000,124335.0,124335.0,124335.0
mean,2.019011e+07,13.542406,0.058720,0.0,141388.336470,7.462522e+18,7.465291e+18,12.885873,96062.532087,1500.491286,84540.722395,1012.0,16493.999051,1.074959,-592.433370,0.962551,93.448127,1027.0,1.0,1.0
std,1.995241e+00,7.094662,0.235102,0.0,17361.440869,1.699710e+18,1.700115e+18,5.545570,6961.030302,101.506217,5346.236568,0.0,30411.000541,0.268588,125.079727,1.143870,84.581463,0.0,0.0,0.0
min,2.019010e+07,0.000000,0.000000,0.0,77008.000000,1.465601e+17,1.465639e+17,0.000000,72414.000000,1351.000000,70972.000000,1012.0,0.000000,1.000000,-1000.000000,0.000226,1.500000,1027.0,1.0,1.0
25%,2.019011e+07,7.000000,0.000000,0.0,138154.000000,7.446657e+18,7.446673e+18,9.000000,94663.000000,1387.000000,86975.000000,1012.0,7018.000000,1.000000,-600.000000,0.164986,21.500000,1027.0,1.0,1.0
50%,2.019011e+07,16.000000,0.000000,0.0,149683.000000,7.846631e+18,7.846662e+18,13.000000,99824.000000,1458.000000,87269.000000,1012.0,11426.000000,1.000000,-600.000000,0.521352,50.000000,1027.0,1.0,1.0
75%,2.019011e+07,19.000000,0.000000,0.0,150191.000000,8.246580e+18,8.246623e+18,17.000000,100276.000000,1608.000000,87310.000000,1012.0,21928.000000,1.000000,-500.000000,1.415727,200.000000,1027.0,1.0,1.0
max,2.019011e+07,23.000000,1.000000,0.0,150993.000000,8.547165e+18,8.547165e+18,23.000000,100913.000000,1641.000000,87341.000000,1012.0,397038.000000,11.000000,9999.000000,15.458403,200.000000,1027.0,1.0,1.0

In [6]:
print (movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124335 entries, 0 to 124334
Data columns (total 42 columns):
cvr_base_data_table.ts                            124335 non-null int64
cvr_base_data_table.impression_system_date        124335 non-null object
cvr_base_data_table.hour                          124335 non-null int64
cvr_base_data_table.conversion_status             124335 non-null int64
cvr_base_data_table.cc_id_null_ind                124335 non-null int64
cvr_base_data_table.ad_id                         124335 non-null int64
cvr_base_data_table.click_id                      124335 non-null int64
cvr_base_data_table.cc_id                         124335 non-null int64
cvr_base_data_table.hour_of_day                   124335 non-null int64
cvr_base_data_table.raw_publisher_id              124335 non-null object
cvr_base_data_table.raw_sub_publisher_id          124335 non-null object
cvr_base_data_table.raw_sub_sub_publisher_id      124335 non-null object
cvr_base_data_table.enriched_country              124335 non-null object
cvr_base_data_table.enriched_derived_device       124335 non-null object
cvr_base_data_table.enriched_derived_os           124335 non-null object
cvr_base_data_table.enriched_publisher_domain     124335 non-null object
cvr_base_data_table.ad_adgroup_id                 124335 non-null int64
cvr_base_data_table.ad_advertiser_id              124335 non-null int64
cvr_base_data_table.ad_campaign_id                124335 non-null int64
cvr_base_data_table.ad_keyword                    124335 non-null object
cvr_base_data_table.serving_key                   124335 non-null object
cvr_base_data_table.ad_partner_id                 124335 non-null int64
cvr_base_data_table.impression_state              124335 non-null object
cvr_base_data_table.impression_city               124335 non-null object
cvr_base_data_table.impression_isp_name           124335 non-null object
cvr_base_data_table.impression_asn_code           124335 non-null int64
cvr_base_data_table.impression_connection_type    124335 non-null object
cvr_base_data_table.analyzer_name                 124335 non-null object
cvr_base_data_table.category_name                 124335 non-null object
cvr_base_data_table.click_browser                 124335 non-null object
cvr_base_data_table.click_user_datetime           124335 non-null object
cvr_base_data_table.raw_sync_partner_id           124335 non-null int64
cvr_base_data_table.click_conf_gmt_offset         124335 non-null int64
cvr_base_data_table.click_state                   124335 non-null object
cvr_base_data_table.click_city                    124335 non-null object
cvr_base_data_table.ad_bid                        124335 non-null float64
cvr_base_data_table.ad_cpa_goal                   63101 non-null float64
cvr_base_data_table.ad_market_place_id            124335 non-null int64
cvr_base_data_table.click_click_status            124335 non-null int64
cvr_base_data_table.kmean_category_name           124335 non-null object
cvr_base_data_table.partner_id                    118798 non-null object
cvr_base_data_table.version                       124335 non-null int64
dtypes: float64(2), int64(18), object(22)
memory usage: 39.8+ MB
None

In [8]:
print (movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124335 entries, 0 to 124334
Data columns (total 42 columns):
cvr_base_data_table.ts                            124335 non-null int64
cvr_base_data_table.impression_system_date        124335 non-null object
cvr_base_data_table.hour                          124335 non-null int64
cvr_base_data_table.conversion_status             124335 non-null int64
cvr_base_data_table.cc_id_null_ind                124335 non-null int64
cvr_base_data_table.ad_id                         124335 non-null int64
cvr_base_data_table.click_id                      124335 non-null int64
cvr_base_data_table.cc_id                         124335 non-null int64
cvr_base_data_table.hour_of_day                   124335 non-null int64
cvr_base_data_table.raw_publisher_id              124335 non-null object
cvr_base_data_table.raw_sub_publisher_id          124335 non-null object
cvr_base_data_table.raw_sub_sub_publisher_id      124335 non-null object
cvr_base_data_table.enriched_country              124335 non-null object
cvr_base_data_table.enriched_derived_device       124335 non-null object
cvr_base_data_table.enriched_derived_os           124335 non-null object
cvr_base_data_table.enriched_publisher_domain     124335 non-null object
cvr_base_data_table.ad_adgroup_id                 124335 non-null int64
cvr_base_data_table.ad_advertiser_id              124335 non-null int64
cvr_base_data_table.ad_campaign_id                124335 non-null int64
cvr_base_data_table.ad_keyword                    124335 non-null object
cvr_base_data_table.serving_key                   124335 non-null object
cvr_base_data_table.ad_partner_id                 124335 non-null int64
cvr_base_data_table.impression_state              124335 non-null object
cvr_base_data_table.impression_city               124335 non-null object
cvr_base_data_table.impression_isp_name           124335 non-null object
cvr_base_data_table.impression_asn_code           124335 non-null int64
cvr_base_data_table.impression_connection_type    124335 non-null object
cvr_base_data_table.analyzer_name                 124335 non-null object
cvr_base_data_table.category_name                 124335 non-null object
cvr_base_data_table.click_browser                 124335 non-null object
cvr_base_data_table.click_user_datetime           124335 non-null object
cvr_base_data_table.raw_sync_partner_id           124335 non-null int64
cvr_base_data_table.click_conf_gmt_offset         124335 non-null int64
cvr_base_data_table.click_state                   124335 non-null object
cvr_base_data_table.click_city                    124335 non-null object
cvr_base_data_table.ad_bid                        124335 non-null float64
cvr_base_data_table.ad_cpa_goal                   63101 non-null float64
cvr_base_data_table.ad_market_place_id            124335 non-null int64
cvr_base_data_table.click_click_status            124335 non-null int64
cvr_base_data_table.kmean_category_name           124335 non-null object
cvr_base_data_table.partner_id                    118798 non-null object
cvr_base_data_table.version                       124335 non-null int64
dtypes: float64(2), int64(18), object(22)
memory usage: 39.8+ MB
None

In [9]:
movies.describe()

,cvr_base_data_table.ts,cvr_base_data_table.hour,cvr_base_data_table.conversion_status,cvr_base_data_table.cc_id_null_ind,cvr_base_data_table.ad_id,cvr_base_data_table.click_id,cvr_base_data_table.cc_id,cvr_base_data_table.hour_of_day,cvr_base_data_table.ad_adgroup_id,cvr_base_data_table.ad_advertiser_id,cvr_base_data_table.ad_campaign_id,cvr_base_data_table.ad_partner_id,cvr_base_data_table.impression_asn_code,cvr_base_data_table.raw_sync_partner_id,cvr_base_data_table.click_conf_gmt_offset,cvr_base_data_table.ad_bid,cvr_base_data_table.ad_cpa_goal,cvr_base_data_table.ad_market_place_id,cvr_base_data_table.click_click_status,cvr_base_data_table.version
count,1.243350e+05,124335.000000,124335.000000,124335.0,124335.000000,1.243350e+05,1.243350e+05,124335.000000,124335.000000,124335.000000,124335.000000,124335.0,124335.000000,124335.000000,124335.000000,124335.000000,63101.000000,124335.0,124335.0,124335.0
mean,2.019011e+07,13.542406,0.058720,0.0,141388.336470,7.462522e+18,7.465291e+18,12.885873,96062.532087,1500.491286,84540.722395,1012.0,16493.999051,1.074959,-592.433370,0.962551,93.448127,1027.0,1.0,1.0
std,1.995241e+00,7.094662,0.235102,0.0,17361.440869,1.699710e+18,1.700115e+18,5.545570,6961.030302,101.506217,5346.236568,0.0,30411.000541,0.268588,125.079727,1.143870,84.581463,0.0,0.0,0.0
min,2.019010e+07,0.000000,0.000000,0.0,77008.000000,1.465601e+17,1.465639e+17,0.000000,72414.000000,1351.000000,70972.000000,1012.0,0.000000,1.000000,-1000.000000,0.000226,1.500000,1027.0,1.0,1.0
25%,2.019011e+07,7.000000,0.000000,0.0,138154.000000,7.446657e+18,7.446673e+18,9.000000,94663.000000,1387.000000,86975.000000,1012.0,7018.000000,1.000000,-600.000000,0.164986,21.500000,1027.0,1.0,1.0
50%,2.019011e+07,16.000000,0.000000,0.0,149683.000000,7.846631e+18,7.846662e+18,13.000000,99824.000000,1458.000000,87269.000000,1012.0,11426.000000,1.000000,-600.000000,0.521352,50.000000,1027.0,1.0,1.0
75%,2.019011e+07,19.000000,0.000000,0.0,150191.000000,8.246580e+18,8.246623e+18,17.000000,100276.000000,1608.000000,87310.000000,1012.0,21928.000000,1.000000,-500.000000,1.415727,200.000000,1027.0,1.0,1.0
max,2.019011e+07,23.000000,1.000000,0.0,150993.000000,8.547165e+18,8.547165e+18,23.000000,100913.000000,1641.000000,87341.000000,1012.0,397038.000000,11.000000,9999.000000,15.458403,200.000000,1027.0,1.0,1.0

In [10]:
movies['cvr_base_data_table.ad_market_place_id'].nunique().count()

AttributeError: 'int' object has no attribute 'count'

In [12]:
movies['cvr_base_data_table.ad_market_place_id'].nunique()

1

In [13]:
movies.columns

Index(['cvr_base_data_table.ts', 'cvr_base_data_table.impression_system_date',
       'cvr_base_data_table.hour', 'cvr_base_data_table.conversion_status',
       'cvr_base_data_table.cc_id_null_ind', 'cvr_base_data_table.ad_id',
       'cvr_base_data_table.click_id', 'cvr_base_data_table.cc_id',
       'cvr_base_data_table.hour_of_day',
       'cvr_base_data_table.raw_publisher_id',
       'cvr_base_data_table.raw_sub_publisher_id',
       'cvr_base_data_table.raw_sub_sub_publisher_id',
       'cvr_base_data_table.enriched_country',
       'cvr_base_data_table.enriched_derived_device',
       'cvr_base_data_table.enriched_derived_os',
       'cvr_base_data_table.enriched_publisher_domain',
       'cvr_base_data_table.ad_adgroup_id',
       'cvr_base_data_table.ad_advertiser_id',
       'cvr_base_data_table.ad_campaign_id', 'cvr_base_data_table.ad_keyword',
       'cvr_base_data_table.serving_key', 'cvr_base_data_table.ad_partner_id',
       'cvr_base_data_table.impression_state',
       'cvr_base_data_table.impression_city',
       'cvr_base_data_table.impression_isp_name',
       'cvr_base_data_table.impression_asn_code',
       'cvr_base_data_table.impression_connection_type',
       'cvr_base_data_table.analyzer_name',
       'cvr_base_data_table.category_name',
       'cvr_base_data_table.click_browser',
       'cvr_base_data_table.click_user_datetime',
       'cvr_base_data_table.raw_sync_partner_id',
       'cvr_base_data_table.click_conf_gmt_offset',
       'cvr_base_data_table.click_state', 'cvr_base_data_table.click_city',
       'cvr_base_data_table.ad_bid', 'cvr_base_data_table.ad_cpa_goal',
       'cvr_base_data_table.ad_market_place_id',
       'cvr_base_data_table.click_click_status',
       'cvr_base_data_table.kmean_category_name',
       'cvr_base_data_table.partner_id', 'cvr_base_data_table.version'],
      dtype='object')

In [14]:
for d in movies.columns:
    if(movies[d].nunique() == 1):
        print (d)

cvr_base_data_table.cc_id_null_ind
cvr_base_data_table.serving_key
cvr_base_data_table.ad_partner_id
cvr_base_data_table.ad_market_place_id
cvr_base_data_table.click_click_status
cvr_base_data_table.kmean_category_name
cvr_base_data_table.version